/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2019, 8:47:21 PM
    Author     : hskodama
*/
body {
    margin: 0;
    padding: 0;
    background: #fdfdfd;
}
 
.nav {
    width: 100%;
    background-color: #282828;
    min-width: 800px;
}

.nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    float: left;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    color:  #303030;
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    padding: 16px;
    width: 100%;
    text-align: center;
}
 
.nav a:hover {
    background-color: #006606;
    color: #fdfdfd;
}
 
.active {
    background-color: #006606;
    color: #fdfdfd;
    cursor: default;
}

.titulo {
    width: 65%;
    height: 50%;
    font-weight: normal;
    background-color: #006606;
    color: #fdfdfd;
    float: right;;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 6em;
    padding: 0.5em;
    min-width: 600px;
}
.container {
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.cont {
    position: relative;
    max-width: 95%;
    top: 50px;
    margin-left: 20px;
}

.item {
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #EFF;
    position: relative;
}
#visto{
    border-color: #999;
    padding: 10px;
    padding-left: 25px;
    background-color: #9D9;
 }
#foto{
    width:100px;
    height:100px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-image: url("avatar.png");
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px grey;
}
.info{
    text-align: left;
    list-style-type: none; 
    padding-left: 0px;
    width: 100%;
}
.info li{
    margin-bottom: 20px;
}

#pessoaIMG{
    width: 200px;
    height: 400px;
    background-image: url("pessoa.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#infoPessoa{
    justify-content: space-between;
}
#text-visto{
    transform: rotate(-30deg);
    text-align: right;
    width: 80px;
}

#chaveIMG{
    width: 50px;
    height: 250px;
    background-image: url("chave.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Pessoas.jsp*/

table {
    margin: 5% auto;
}

tr:nth-child(even) {
    background-color: silver;
}

/*Pessoas.jsp*/
/*Consulta.jsp*/

.card{
    border: 1px solid #ccc;
    background-color: #9D9;
    width: 100px; 
    margin-bottom: 10px;
    margin-left: 50px;
    text-align: center;
    color: #212529; 
    padding-top: 0px;
}
.linha{
    background-color: silver;
    width: 100%;
    height: 1px;
    margin-top: 50px;
}
.form_card{
    padding: 20px;
}
input{
    font-size: 14px;
    margin-left: 5px;
}
.div_flex{
    display: flex;
    align-items: center;
    height: 40px;
}
.div_flex li{
    margin-bottom: 10px;
    width: 35%;
}
select{
    margin-left: 5px;
}
/*Consulta.jsp*/